(or O1Y)
(or L1W)
(or O2W)
(or L2Y)
(or O3Y)
(or L3B)
(or (not L1W) (not C1W))
(or (not O1Y) (or C1Y C1B))
(or (not L2Y) (not C2Y))
(or (not O2W) (or C2W C2B))
(or (not L3B) (not C3B))
(or (not O3Y) (or C3Y C3B))
(or (not C1W) (not (or C2W C3W)))
(or (not C2W) (not (or C1W C3W)))
(or (not C3W) (not (or C2W C1W)))
(or (not C1Y) (not (or C2Y C3Y)))
(or (not C2Y) (not (or C1Y C3Y)))
(or (not C3Y) (not (or C2Y C1Y)))
(or (not C1B) (not (or C2B C3B)))
(or (not C2B) (not (or C1B C3B)))
(or (not C3B) (not (or C2B C1B)))
(or (not L1W) (not C1W))
(or (not L2Y) (not C2Y))
(or (not L3B) (not C3B))
(or (not C3Y) (or C1W C1B))
(or (not C3Y) (or C1W C2W))
(or (not C3Y) (or C2B C1B))
(or (not C3Y) (or C2B C2W))